@font-face {
	font-family: 'icomoon-psycouncel';
	src:url('../fonts/icomoon-psycouncel.eot?lah4lp');
	src:url('../fonts/icomoon-psycouncel.eot?#iefixlah4lp') format('embedded-opentype'),
		url('../fonts/icomoon-psycouncel.woff?lah4lp') format('woff'),
		url('../fonts/icomoon-psycouncel.ttf?lah4lp') format('truetype'),
		url('../fonts/icomoon-psycouncel.svg?lah4lp#icomoon-psycouncel') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Elements */
* {margin:0; padding:0;}
HTML {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 100%;
}
body{
	font-family: 'ff-more-web-pro', serif;
	font-weight: normal;
	font-size: 16px;
	color: #333333;
	width: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{
	display: block;
}


TABLE {border-spacing:0; border-collapse:collapse;}
TD,TH {vertical-align:top; text-align:left;}
IMG,FIELDSET {border:none;}
IMG {vertical-align: bottom;max-width: 100%;height: auto;}
A {text-decoration:none; color:#0173c1;outline: none;}
A:hover {color:#5e5e5e;}
UL, UL LI {list-style-type:none;}
EM {font-style:normal;}


::-moz-selection { background: #0c5ea3; color: #fff; text-shadow: none; }
::selection { background: #0c5ea3; color: #fff; text-shadow: none; }

a{
	color: #7459a5;
}
a:hover{
	color: #d1b055;	
}
h2 {
	font-size: 40px;
	font-weight: normal;
}
h3{
	font-size: 42px;
	font-weight: normal;
}
h4 {
	font-weight: normal;
	font-size: 24px;
}
input[type="search"]{
	-webkit-appearance: none;
}

/* Clearfix */
.clearfix, .wrapper, .wrapper-contacts {
	*zoom: 1;
}
.clearfix:before, .clearfix:after, .wrapper:before, .wrapper:after, .wrapper-contacts:before, .wrapper-contacts:after {
	content: ''; display: table;
}
.clearfix:after, .wrapper:after, .wrapper-contacts:after {
	clear: both;
}
/* /Clearfix */

.fl{
	float: left;
}
.fr{
	float: right;
}

/* Columns */
.cols {
	overflow: hidden;
}
.col-2,
.col-3,
.col-4,
.col-5 {
	display: block;
	float: left;
	vertical-align: top;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.col-2 {
	width: 50%;
}
.col-3 {
	width: 33.3%;
}
.col-4 {
	width: 25%;
}
.col-5{
	width: 20%;
}
.lt-ie9 .col-2,
.lt-ie9 .col-3,
.lt-ie9 .col-4,
.lt-ie9 .col-5{
	/*margin-left: -0.5em;*/
}

.icomoon {
	display: inline-block;
	vertical-align: middle;

	font-family: 'icomoon-psycouncel';
	font-style: normal;
	speak: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Wrapper (extends .clearfix) */
.wrapper {
	width: 1160px;
	min-width: 1160px;
	padding: 0 30px;
	margin: 0 auto;
}

.b-teaser_title{
	margin-bottom: 20px;
	text-align: center;
}

.bg_02{
	background-color: #f2f2f2;
}

/* btn */

.btn{
	cursor: pointer;
	padding: 20px 24px;
	text-transform: uppercase;
	display: inline-block;
	word-spacing: 2px;
	font-size: 14px;
	letter-spacing: 3px;
	outline: none;
	position: relative;
	font-family: Arial, 'Helvetica Neue', sans-serif;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_text{
	position: relative;
	z-index: 1;
}
.btn:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-1{
	color: #fff;
	border: 3px solid #fff;
}
.btn-1:hover,
.btn-1:active {
	color: #d1b055;
}
.btn-1:after{
	background-color: #fff;
}
.btn-1:hover:after,
.btn-1:active:after{
	height: 100%;
}

.btn-2{
	color: #333;
	border: 3px solid #d1b055;
	background-color: transparent;
}
.btn-2:hover,
.btn-2:active {
	color: #fff;
}
.btn-2:after{
	background-color: #d1b055;
}
.btn-2:hover:after,
.btn-2:active:after{
	height: 100%;
}

.btn-3{
	color: #333;
	border: 3px solid #7459a5;
}
.btn-3:hover,
.btn-3:active {
	color: #fff;
}
.btn-3:after{
	background-color: #7459a5;
}
.btn-3:hover:after,
.btn-3:active:after{
	height: 100%;
}

.btn-2.type_1:before{
	content: "*";
	font-family: 'icomoon-psycouncel';
	font-size: 30px;
	position: absolute;
	top: 100%;
	left: 10px;
	margin-top: -10px;
	background-color: #f2f2f2;
	letter-spacing: -0.5px;
	padding: 0 5px 0 6px;
	color: #d1b055;
	-webkit-transition: padding .25s, left .25s;
	transition: padding .25s, left .25s;
}
.btn-2:hover.type_1:before{
	z-index: 2;
	left: 16px;
	padding: 0;
}
.btn-2.type_1 .btn_text:after{
	content: "";
	position: absolute;
	right: -22px;
	top: -16px;
	background-color: #d1b055;
	height: 48px;
	width: 3px;
	display: inline-block;
	-webkit-box-shadow: 2px 0px 0px 4px rgba(242, 242, 242, 1);
	-moz-box-shadow: 2px 0px 0px 4px rgba(242, 242, 242, 1);
	box-shadow: 2px 0px 0px 4px rgba(242, 242, 242, 1);
	-webkit-transition: box-shadow .25s, background-color .25s;
	transition: box-shadow .25s, background-color .25s;
}
.btn-2.type_1:hover .btn_text:after,
.btn-2.type_1:focus .btn_text:after{
	background-color: transparent;
	-webkit-box-shadow: 8px 0px 0px 4px rgba(242, 242, 242, 1);
	-moz-box-shadow: 8px 0px 0px 4px rgba(242, 242, 242, 1);
	box-shadow: 8px 0px 0px 4px rgba(242, 242, 242, 1);
}

.btn-3.type_2:before{
	content: ',';
	font-family: 'icomoon-psycouncel';
	font-size: 74px;
	position: absolute;
	top: -8px;
	left: 100%;
	padding-left: 4px;
	background-color: #fff;
	color: #7459a5;
}

.btn-2.type_3:before{
	content: "%";
	font-family: 'icomoon-psycouncel';
	font-size: 16px;
	position: absolute;
	top: 14px;
	left: 100%;
	margin-left: -6px;
	background-color: #f2f2f2;
	padding: 6px 0;
	color: #d1b055;
	opacity: 1;
	-webkit-transition: opacity .25s;
	transition: opacity .25s;
}
.btn-2.type_3:hover:before{
	opacity: 0;
}
.btn-2.type_4:before{
	content: "0";
	font-family: 'icomoon-psycouncel';
	font-size: 30px;
	position: absolute;
	top: -3px;
	left: 100%;
	background-color: #fff;
	color: #d1b055;
	-webkit-transition: background-color .25s;
	transition: background-color .25s;
}
.btn-2:hover.type_4:before{
	background-color: transparent;
}

/* b-list */
.b-list .b-list_item{
	margin-bottom: 16px;
}
.b-list .num{
	float: left;
	font-family: 'ff-more-web-pro', serif;
	font-size: 18px;
	color: #dabe72;
}
.b-list .text{
	margin-left: 26px;
	display: block;
	font: normal 15px/24px Arial, 'Helvetica Neue', sans-serif;
}
.b-list .b-sublist{
	margin-top: 16px;
	padding-left: 32px;
}
.b-list .b-sublist_item{
	margin-bottom: 16px;
	position: relative;
}
.b-list .b-sublist_item:before{
	content: "";
	width: 20px;
	height: 3px;
	background-color: #dabe72;
	position: absolute;
	top: 12px;
	left: 0;
}

.pl30{
	padding-left: 30px;
}

/* b-header */
.b-header_wrap{
	background-color: #dabe72;
	white-space: nowrap;
	border-bottom: 3px solid #c4ab66;
	width: 100%;
}
.b-logo{
	position: relative;
	top: 23px;
	-webkit-transition: top .25s;
	-moz-transition: top .25s;
	transition: top .25s;
}
.b-logo_lnk{
	display: inline-block;
	vertical-align: middle;
	line-height: 69px;
}
.b-logo_lnk img{
	vertical-align: middle;
}
.b-callback_top{
	position: relative;
	top: 30px;
	-webkit-transition: top .25s;
	-moz-transition: top .25s;
	transition: top .25s;
}
.b-nav{
	margin: 0 auto;
	width: 650px;
	vertical-align: middle;
}
.b-nav_item{
	display: inline-block;
	white-space: normal;
	max-width: 140px;
	padding: 0 17px;
	position: relative;
	opacity: 1;
	-webkit-transform: scale(1) translateX(0px);
	transform: scale(1) translateX(0px);
	-webkit-transition: opacity .25s, transform .25s;
	transition: opacity .25s, transform .25s;
}
.b-nav_item.l-fix_item{
	position: absolute;
	opacity: 0;
	-webkit-transform: scale(0) translateX(-120px);
	transform: scale(0) translateX(-120px);
}
.l-nav_lnk{
	color: #fff;
	text-align: left;
	vertical-align: top;
	padding-bottom: 12px;
	padding-top: 0;
	display: inline-block;
	line-height: 110px;
	-webkit-transition: padding .25s, line-height .25s, color .25s;
	-moz-transition: padding .25s, line-height .25s, color .25s;
	transition: padding .25s, line-height .25s, color .25s;
}
.l-nav_lnk:hover{
	color: #f1ead7;
}
.l-nav_lnk.current{
	border-bottom: 3px solid #fff;
	font-style: italic;
}
.l-nav_lnk .txt{
	font-size: 12px;
	text-transform: uppercase;
	font-family: Arial, 'Helvetica Neue', sans-serif;
	display: inline-block;
	line-height: 20px;
	letter-spacing: 2px;
}
.l-nav_lnk .txt em{
	vertical-align: top;
	display: inline-block;
}

.b-header_wrap.fix{
	position:fixed;
    top:0;
    left:0;
    right:0;
    margin:0;
    z-index: 9;
    height: 92px;
}
.b-header_wrap.fix .l-nav_lnk{
	line-height: 63px;
}
.b-header_wrap.fix .b-callback_top{
	top: 17px;
}
.b-header_wrap.fix .b-logo{
	top: 10px;
}
.b-header_wrap.fix .b-nav_item{
	max-width: 100%;
}
.b-header_wrap.fix .l-nav_lnk{
	padding-top: 14px;
}

/* b-content */

.l-content_title{
	font-size: 40px;
	font-weight: normal;
	margin-top: 94px;
	text-align: center;
}
.b-subtitle_h{
	font-family: 'ff-more-web-pro', serif;
	font-size: 22px;
	line-height: 36px;
	text-align: center;
	position: relative;
	margin-bottom: 25px;
}
.b-subtitle_h:after{
	content: "";
	width: 50px;
	height: 3px;
	background-color: #7459a5;
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -25px;
	margin-top: 22px;
}
.l-content_title .name{
	font-size: 34px;
	letter-spacing: 3px;
	margin-left: 2px;
}
.l-content_subtitle{
	font-size: 22px;
	line-height: 36px;
	font-style: italic;
	color: #dabe72;
	margin-bottom: 20px;
}
.b-mainpromo_article.color_1 .l-content_title{
	color: #fff;
	margin-top: 0;
}
.b-mainpromo_article.color_1 .l-content_date{
	color: #fff;
	font-size: 12px;
	line-height: 32px;
	font-style: italic;
}

/* b-mainpromo */
.b-mainpromo{
	background-color: #dabe72;
	text-align: center;
	padding-bottom: 90px;
	position: relative;
}
.b-mainpromo:after{
	content: "";
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 1;
}
.b-mainpromo.ico_type_1:after{
	background: url('../ico/ico_04.png') no-repeat;
	width: 33px;
	height: 33px;
	margin-left: -16px;
	margin-top: -17px;
}
.b-mainpromo.ico_type_2:after{
	background: url('../ico/ico_05.png') no-repeat;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	margin-top: -15px;
}
.b-mainpromo.ico_type_3:after{
	background: url('../ico/ico_06.png') no-repeat;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	margin-top: -15px;
}
.b-mainpromo.ico_type_4:after{
	background: url('../ico/ico_07.png') no-repeat;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	margin-top: -15px;
}
.b-mainpromo_pic{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}
.b-mainpromo_article{
	position: relative;
	top: 35px;
}
.b-mainpromo_subtxt{
	font-size: 22px;
	line-height: 36px;
	margin-bottom: 90px;
}
.b-mainpromo_subtxt_person{
	display: block;
	
	font-size: 22px;
}
.b-mainpromo_subtxt_person a{
	color: #fff;
	font-style: italic;
}
.b-mainpromo_subtxt_person .lastname{
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 2px;
}
.b-mainpromo_ico{
	color: #fff;
	font-size: 6px;
	margin: 28px 0;
}
.b-mainpromo_next{
	/* margin-bottom: 60px; */
}
.b-mainpromo_next .icomoon{
	cursor: pointer;
	color: #fff;
}

/* b-person_promo */

.b-person_promo{
	text-align: center;
	background-color: #f2f2f2;
	position: relative;
	margin-top: -30px;
}
.b-person_promo:before{
	content: '';
	background-color: #dabe72;
	height: 100px;
	width: 100%;
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
.l-person_promo_lnk{
	width: 550px;
	float: left;
	z-index: 1;
	cursor: pointer;
	position: relative;
}
.l-person_promo_lnk:first-child{
	margin-right: 60px;
}
.l-person_pic{
	background-color: #fff;
	padding: 20px;
	padding-bottom: 94px;
}

.l-person_promo_lnk .l-person_pic_hov{
	position: absolute;
	top: 20px;
	left: 20px;
}
.l-person_promo_lnk .l-person_pic_hov{
	display: none;
}
.l-person_about{
	position: relative;
	border: 3px solid #7459a5;
	width: 390px;
	margin: -135px auto 96px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: color .25s, border-color .25s;
}
.l-person_title{
	margin-top: 38px;
	margin-bottom: 0;
	line-height: 82px;
	position: relative;
	font-size: 30px;
	color: #333;
	padding-top: 12px;
}
.l-person_title:after{
	content: '';
	display: inline-block;
	width: 50px;
	height: 3px;
	line-height: 3px;
	position: absolute;
	left: 50%;
	top: 100%;
	margin-top: -1px;
	margin-left: -25px;
	background-color: #7459a5;
	transition: background-color .25s;
}
.l-person_promo_lnk:hover .l-person_title:after{
	background-color: #d1b055;
}
.l-person_subtitle{
	font-size: 18px;
	font-style: italic;
	color: #333;
	padding-top: 28px;
	padding-bottom: 58px;
}
.l-person_promo_lnk:hover .l-person_title,
.l-person_promo_lnk:hover .l-person_subtitle{
	color: #5e5e5e;
}

.l-person_about.larr:after{
	content: '/';
	left: 100%;
	margin-top: -16px;
	padding-top: 10px;
	margin-left: -4px;
	font-size: 15px;
}
.l-person_about.rarr:before{
	content: '.';
	right: 100%;
	margin-top: -2px;
	padding-right: 12px;
	margin-right: -19px;
	font-size: 10px;
}
.l-person_about.larr:after,
.l-person_about.rarr:before{
	font-family: 'icomoon-psycouncel';
	position: absolute;
	top: 100%;
	background-color: #f2f2f2;
}
.l-person_promo_lnk:hover .l-person_about{
	border-color: #d1b055;
	color: #d1b055;
}

/* b-skill */
.b-skill{
	text-align: center;
	background-color: #f2f2f2;
	padding-bottom: 100px;
}
.b-skill_cols{
	margin-top: 63px;
	margin-bottom: 70px;
}
.l-skill_item{
	text-align: left;
	padding-left: 30px;
	position: relative;
	font-size: 18px;
	line-height: 26px;	
	margin-bottom: 24px;
	padding-right: 70px;
}
.l-skill_item:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 12px;
	display: inline-block;
	width: 20px;
	height: 3px;
	background-color: #7459a5;
}


/* b-princeps */
.b-princeps{
	padding: 100px 0;
}
.l-princeps_slide{
	text-align: center;
}
.l-princeps_ico{
	color: #7459a5;
	font-size: 28px;
	margin-bottom: 26px;
}
.l-princeps_text{
	font-size: 22px;
	line-height: 32px;
	width: 490px;
	margin: 0 auto;
}
.l-princeps_text .sub_title{
	display: block;
}
.l-princeps_btn{
	margin-top: 60px;
	text-align: center;
}
.b-princeps_slider .slick-prev,
.b-princeps_slider .slick-next{
	height: auto;
	width: auto;
	margin-top: -50px;
}
.b-princeps_slider .slick-prev:before,
.b-princeps_slider .slick-next:before{
	font-family: 'icomoon-psycouncel';
	font-size: 30px;
	color: #7459a5;
}
.b-princeps_slider .slick-prev:before{
	content: "(";
}
.b-princeps_slider .slick-next:before{
	content: "'";
}

/* b-responsive */
.b-responsive_pic{
	position: relative;
	min-height: 459px;
	width: 100%;
	max-height: 700px;
}
.b-responsive_pic_nav{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	text-align: center;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	line-height: 459px;
	height: 459px;
}
.b-responsive_pic_wrap{
	vertical-align: middle;
	line-height: 1;
	display: inline-block;
}
.b-responsive_title{
	font-size: 40px;
	line-height: 72px;
	vertical-align: bottom;
}
.b-responsive_title .txt{
	vertical-align: bottom;
	display: inline-block;
	line-height: 36px;
}
.b-responsive_ico{
	margin: 20px 0 24px;
}
.b-responsive_txt{
	font-size: 22px;
	line-height: 32px;
	width: 60%;
	margin: 0 auto;
}
.b-responsive_btn{
	margin-top: 70px;
	color: #fff;
}

.b-responsive_pic .l-responsive_pic_hov,
.b-responsive_pic .l-responsive_pic_dis{
	position: absolute;
	top: 0;
}
.b-responsive_pic .l-responsive_pic_hov{
	display: none;
}

/* b-articles */
.b-articles{
	padding: 76px 0;
}
.b-articles_cols{
	margin-left: -44px;
	margin-bottom: 70px;
}
.b-articles_col{
	padding-left: 44px;
}
.l-articles_tag{
	font-size: 14px;
	line-height: 30px;
	font-style: italic;
}
.b-articles_col.type-1 .l-articles_tag{
	color: #d1b055;
}
.b-articles_col.type-2 .l-articles_tag{
	color: #7459a5;
}
.l-articles_title{
	font-size: 22px;
	line-height: 30px;
	font-weight: normal;
	margin-bottom: 3px;
}
.l-articles_date{
	font-size: 13px;
	line-height: 32px;
	font-style: italic;
	font-weight: 900;
	display: inline-block;
	margin-bottom: 22px;
}
.b-articles_col.type-1 .l-articles_date{
	border-bottom: 3px solid #d1b055;
}
.b-articles_col.type-2 .l-articles_date{
	border-bottom: 3px solid #7459a5;
}
.l-articles_txt{
	color: #333;
	font: normal 13px/20px Arial, 'Helvetica Neue', sans-serif;
}
.l-articles_btn{
	text-align: center;
}


/* b-footer */
.b-footer{
	bottom: 0;
}
.b-footer_wrap{
	max-width: 1260px;
	margin: 0 auto;
}
.b-footer_cols{
	background-color: #fff;	
	overflow: hidden;
}
.b-footer_col{
	position: relative;
}
.l-footer_pic img{
	width: 100%;	
}
.b-footer_adress{
	padding: 60px;
	background-color: #7459a5;
	color: #fff;
	height: 100%;
}
.b-footer_adress_wrap{
	position: relative;
	padding: 58px 55px 94px;
	border: 3px solid #fff;
}
.b-footer_adress_wrap:before{
	content: "";
	position: absolute;
	bottom: 244px;
	left: 0;
	margin-left: -3px;
	display: inline-block;
	background-color: #7459a5;
	width: 3px;
	height: 45px;
}
.b-footer_adress_wrap:after{
	content: "";
	position: absolute;
	bottom: 244px;
	left: 0;
	margin-left: -3px;
	display: inline-block;
	background-color: #fff;
	width: 3px;
	height: 45px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);

	margin-left: 12px;
	margin-bottom: 8px;
}
.l-footer_text{
	color: #fff;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 40px;
}
.l-footer_phone{
	margin-bottom: 40px;
}
.l-footer_phone a{
	color: #fff;
	font-size: 40px;
	line-height: 54px;
}
.l-footer_mail a{
	color: #f0c756;
	font-size: 18px;
	line-height: 26px;
	-webkit-transition: color .25s;
	transition: color .25s;
}
.l-footer_mail a:hover{
	color: #f7d780;	
}
.b-footer_bottom{
	background-color: #fff;
	padding: 58px 0 50px 40px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* FORM */
.b-footer_form_wrap{
	padding: 80px 42px;
}
.b-footer_form_title{
	font-size: 40px;
	margin-bottom: 34px;
}
.b-footer_inp{
	height: 50px;
}
.b-footer_inp,
.jq-selectbox,
.b-footer_textarea,
.ui-selectmenu-button{
	min-width: 512px;
	max-width: 512px !important;
	width: 100%;
	border: 3px solid #e2e2e2;
	outline: none;
	padding: 14px 13px;
	margin-bottom: 20px;
	font-size: 18px;
	font-style: italic;	
	color: #333333;	
	font-family: 'ff-more-web-pro', serif;
	line-height: 26px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: border-color .25s, color .25s;
	transition: border-color .25s, color .25s;
}
.b-footer_inp:focus,
.b-footer_textarea:focus{
	border-color: #c0bfbf;
	color: #333333;
}
.b-footer_textarea{
	height: 166px;
}
.b-footer_btn{
	width: 512px;
	position: relative;
}


/* SELECT */
.ui-selectmenu-button{
	min-width: 512px;
	width: 100% !important;
	padding: 0 13px;
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 23px;
}
.ui-selectmenu-button.ui-state-focus{
	border: 3px solid #c0bfbf;
}
.ui-selectmenu-button.ui-corner-all:before{
	content: '"';
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -5px;
	color: #4e4e4e;
	margin-right: 20px;
	font: 10px 'icomoon-psycouncel';
}
.ui-selectmenu-button.ui-corner-top:before{
	content: "1";
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -5px;
	color: #d1b055;
	margin-right: 20px;
	font: 10px 'icomoon-psycouncel';
}
.ui-selectmenu-menu{
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 1;
}
.ui-selectmenu-open{
	display: block;
}
.ui-selectmenu-text{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 44px;
}
.ui-selectmenu-menu .ui-menu{
	background-color: #fff;
	border: 3px solid #c0bfbf;
	margin-top: -3px;
	font-size: 18px;
	font-style: italic;	
	color: #333333;	
	font-family: 'ff-more-web-pro', serif;
	box-sizing: border-box;
}
.ui-selectmenu-menu li:first-child{
	border-top: none;
}
.ui-selectmenu-menu li{
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	padding: 0 20px; 
	border-top: 1px solid #c0bfbf;
}
.ui-selectmenu-menu li:hover,
.ui-selectmenu-menu .ui-state-focus{
	background: #f6efdd;
}

.b-footer_gmap_wrap{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
#footer_gmap{
	height:350px;
	width:100%;
}
.gmnoprint img {
    max-width: none; 
}

/* b-person_popup */
.b-person_popup{
	z-index: 10;
	outline: none;
}
.b-person_popup_wrap{
	background-color: #fff;
}
.ui-widget-overlay{
	background-color: #000;
	opacity: 0.8;
	top: 0;
	left: 0;
	width: 100%;
}
.b-person_popup .ui-dialog-titlebar{
	height: 0;
}
.b-person_popup .ui-dialog-titlebar-close .ui-button-text{
	display: none;
}
.b-person_popup .ui-dialog-titlebar-close{
	background: transparent url('../ico/ico_03.png') no-repeat;
	width: 26px;
	height: 26px;
	display: inline-block;
	border: none;
	outline: none;
	position: absolute;
	z-index: 10;
	top: 68px;
	left: 100%;
	margin-left: 85px;
	cursor: pointer;
}
.b-person_popup_pic{
	position: relative;
}
.b-person_popup_name{
	text-align: center;
	font-size: 40px;
	line-height: 46px;
	color: #fff;
	position: absolute;
	bottom: 96px;
	width: 100%;
}
.b-person_popup_name:after{
	content: "";
	position: absolute;
	bottom: 0;
	margin-bottom: -35px;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	height: 3px;
	background-color: #8a65cd;
}
.b-person_popup_cont{
	padding: 74px 147px 30px;
	background-color: #f2f2f2;
}
.b-person_popup_cont h5{
	font-size: 22px;
	line-height: 36px;
	font-weight: normal;
	margin-bottom: 14px;
}
.b-person_popup_cont p{
	font-size: 15px;
	line-height: 24px;
	font-family: Arial, sans-serif;
	margin-bottom: 44px;
}
.b-person_popup_cont ul{
	margin-bottom: 44px;
}
.b-person_popup_cont li{
	position: relative;
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height: 24px;
	padding-left: 30px;
	margin-bottom: 16px;
}
.b-person_popup_cont li:before{
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 20px;
	height: 3px;
	background-color: #dabe72;
}
.b-popup_form_wrap{
	padding: 70px 147px 0;
}
.b-popup_form{
	padding-bottom: 78px;
}
.b-popup_form_title{
	font-size: 22px;
	line-height: 36px;
	margin-bottom: 32px;
}

/* b-about */
.b-about{
	padding: 70px 0 70px;
	background-color: #f2f2f2;
}
.b-about_h{
	text-align: center;
	font-size: 22px;
	line-height: 36px;
	margin-bottom: 50px;
}
.b-about_cols{
	padding: 0 120px;
	margin-bottom: 74px;
}
.b-about_col{
	font-size: 14px;
	padding-right: 60px;
	font: normal 15px/24px Arial, 'Helvetica Neue', sans-serif;
}
.b-about_person{
	background-color: #fff;
	margin-top: 30px;
}
.b-about_person:first-child{
	margin-top: 0;
}
.b-about_person_pic{
	max-width: 510px;
}
.b-about_person_text{
	width: 650px;
}
.b-about_person_wrap{
	padding: 78px 80px 20px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.l-about_person_h{
	font-size: 30px;	
	margin-bottom: 50px;
}
.l-about_person_p{
	font: normal 15px/24px Arial, 'Helvetica Neue', sans-serif;
	margin-bottom: 70px;
}
.l-about_person_p a{
	color: #7459a5;
	font: normal 14px 'ff-more-web-pro', serif;
	text-transform: uppercase;
	margin-left: 8px;
}

/* b-intervision */
.b-intervision_rule{
	padding: 70px 0;
}
.b-intervision .b-subtitle_h{
	margin-bottom: 50px;
}
.b-intervision_list .text{
	padding-right: 40px;
}
.b-intervision_list{
	padding: 0 125px;
}

.b-intervision_target{
	padding: 50px 0;
}
.b-intervision_target_cols{
	margin-top: 70px;
	padding: 0 40px;
}
.b-intervision_target_col .l-pic,
.b-intervision_target_col .l-text{
	text-align: center;
}
.b-intervision_target_col .l-pic{
	min-height: 150px;
	margin-bottom: 26px;
}
.b-intervision_target_col .l-pic span{
	display: inline-block;
	vertical-align: bottom;
	line-height: 150px;
}
.b-intervision_target_col .l-text{
	font: normal 13px/21px Arial, 'Helvetica Neue', sans-serif;
	padding: 0 40px;
}

.b-intervision_program{
	padding: 70px 0;
}
.b-intervision_program_list{
	padding: 0 122px;
}
.b-intervision_program_btn{
	text-align: center;
	margin-top: 72px;
}

/* b-article_inner */
.b-article_inner{
	background-color: #f2f2f2;
	padding: 70px 0;
}
.b-article_content{
	padding: 0 130px;
	margin-top: 50px;
}
.b-article_content p{
	margin-bottom: 8px;
	font: normal 15px/24px Arial, 'Helvetica Neue', sans-serif;
}
.b-list_num{
	padding-left: 54px;
	margin-bottom: 16px;
	font: bold 15px/24px Arial, 'Helvetica Neue', sans-serif;
}
.b-list_num_item{
	margin-bottom: 4px;
}
.b-article_content h2{
	margin: 86px 0 60px;
	line-height: 48px;
}
.b-article_content .b-subtitle_h{
	margin-bottom: 52px;
}